<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo base_url().'resources/admin/'?>css/public.css" />
    <title>编辑文章</title>
</head>
<body>
<form action="<?php echo site_url('admin/article/edit_article') ?>" method="POST">
    <table class="table">
        <tr>
            <td class="th" colspan="10">编辑文章</td>
        </tr>
        <tr>
            <td>文章名称</td>
            <td><input type="text" name="title" value="<?php echo $article[0]['title']?>"/>
                <?php echo form_error('title') ?>
            </td>
            <td>类型</td>
            <td>
                <input type="radio" name="type" value="0"<?php echo set_radio('type',0,TRUE)?>/>普通
                <input type="radio" name="type" value="1"<?php echo set_radio('type',1,TRUE)?>/>热门
            </td>
            <td>文章栏目</td>
            <td>
                <select id="" name="cid">
                    <?php foreach($category as $v):?>
                    <option value="<?php echo $v['aid']?>"<?php echo set_select('aid','1')?>><?php echo $v['title']?></option>
                    <?php endforeach?>
                </select>
            </td>
            <td>文章内容</td>
            <td>
               <textarea name="content" id="contentwz">

               </textarea>
            </td>
        </tr>
        <tr>
            <input type="hidden" name="aid" value="<?php echo $article[0]['aid']?>"/>
            <td colspan="10"><input type="submit" value="编辑" class="input_button"/></td>
        </tr>
    </table>
</form>
</body>
</html>
</body>
</html>